@page "/"


@using Microsoft.AspNetCore.SignalR.Client
@implements IAsyncDisposable

<PageTitle>Index</PageTitle>

Welcome to app.

Messages from the server 👇
<ul>
    @foreach (var message in _messages)
    {
        <li>@message</li>
    }
</ul>

@code {
    private HubConnection? _hubConnection;
    private readonly List<string> _messages = new();

    protected override async Task OnInitializedAsync()
    {
        _hubConnection = new HubConnectionBuilder()
            .WithUrl("https://localhost:7183/notifications",
            o => o.AccessTokenProvider = () => Task.FromResult<string?>("eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1bmlxdWVfbmFtZSI6IjU4YzRiNWI2LTM3ZDQtNGE1ZC1iZTY2LWIyYWQ4ZmE1NGQ3YyIsInN1YiI6IjU4YzRiNWI2LTM3ZDQtNGE1ZC1iZTY2LWIyYWQ4ZmE1NGQ3YyIsImp0aSI6Ijc4MzQxMjdmIiwiYXVkIjpbImh0dHA6Ly9sb2NhbGhvc3Q6MjQ2NjYiLCJodHRwczovL2xvY2FsaG9zdDo0NDM2MyIsImh0dHA6Ly9sb2NhbGhvc3Q6NTAxMyIsImh0dHBzOi8vbG9jYWxob3N0OjcxODMiXSwibmJmIjoxNzA0NDUxOTY5LCJleHAiOjE3MTIzMTQzNjksImlhdCI6MTcwNDQ1MTk3MCwiaXNzIjoiZG90bmV0LXVzZXItand0cyJ9.Yf4edEYN-4mZo5Y_HD6KUQbkRtPR3pMjTu1VOtL3rBU"))
            .Build();

        _hubConnection.On<string>("RecievedNotification", message =>
        {
            _messages.Add(message);

            InvokeAsync(StateHasChanged);
        });

        await _hubConnection.StartAsync();
    }

    public async ValueTask DisposeAsync()
    {
        if (_hubConnection is not null)
        {
            await _hubConnection.DisposeAsync();
        }
    }
}
